<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href="https://cdn.jsjs.net/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsjs.net/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsjs.net/bootstrap-icons-1.13.1/font/bootstrap-icons.min.css">
    {% feed_meta %}
    {% seo %}
</head>

<body>
    <header>
    </header>
    <main class="container">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>

</html>
